body {
    background-color: #f3f4f6;
    height: 100vh;
  }
  
  .login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5%;
  }
  
  .login-title-box {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 25%;
    height: 55%;
    border-radius: 5%;
    min-width: 400px;
    max-width: 500px;
  }
  
  .login-text {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 1.5%;
  }
  
  .login-welcome {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .login-log {
    font-family: "Nunito", sans-serif;
    color: #737373;
  }
  
  .login-password-text {
    font-family: "Nunito", sans-serif;
    text-align: center;
    color: #585858;
    width: 50%;
    padding: 2% 1%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .login-password-text:hover {
    background-color: #b8b8b8;
  }
  
  .input-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .create-account-text {
    cursor: pointer;
  }
  
  .create-account-text:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  
  
  @media (max-width: 1024px) {
  }
  